build/*
Debug/*
*sdf
*.suo
x64/*
neural.VC.opendb
neural.vcxproj
neural.vcxproj.filters

bin/*
MSVC/*
UnixMk/*
**/CMakeFiles/
nbproject/*
CMakeCache.txt
compile_commands.json
**/Makefile

MKL-DNN.config
MKL-DNN.creator
MKL-DNN.creator.user
MKL-DNN.files
MKL-DNN.includes

*.pyc
.idea
*~
conf.ini